@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header {
  height: 100px;
  position: relative;
}

.header img {
  width: 80px;
  margin: 10px 0 0 20px;
}

.store-name {
  position: absolute;
  top: 35px;
  left: 120px;
  font-size: 30px;
  font-weight: bold;
}

.main-menu {
  float: right;
  list-style-type: none;
  margin-right: 15px;
  margin-top: 70px;
}

.main-menu li {
  width: 80px;
  display: inline-block;
  padding: 0 15px;
}

.main-menu li:last-child {
  padding-right: 0;
}

.main-menu li a {
  color: #4d4d4d;
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
}

.main-menu li a:hover {
  color: black;
  font-weight: bold;
}

.catalog-item-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  width: 30%;
  margin-bottom: 35px;
  outline: 1px solid #cccccc;
  padding: 10px;
}

.catalog-item-name {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  text-align: center;
}

.catalog-item-image {
  border: 1px solid #cccccc;
}

.catalog-item-image img {
  width: 100%;
  height: 350px;
}

.catalog-item-price {
  font-weight: bold;
  padding: 10px 0;
}

.catalog-item-more {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  color: #4d4d4d;
  background-color: #eaeaea;
  border-radius: 2px;
}

.catalog-item a {
  text-decoration: none;
  color: #4d4d4d;
}

.catalog-item-more:hover {
  background-color: #cccccc;
}

.catalog-item-description:first-letter {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: red;
}

.product-header {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  background: #eaeaea;
  width: 100%;
}

.product-image {
    width: 150px;
    border: 1px solid #cccccc;
}

.product-image:hover {
  border-color: transparent;
}

.product-image-and-description {
  width: 100%;
  margin-bottom: 15px;
  float: left;
}

.product-short-description-header {
  margin-top: 0;
}

.product-short-description-wrap {
  margin-left: 168px;
}

.product-features-header {
  clear: both;
}

.product-image-wrap {
  width: 16%;
  margin-right: 2%;
  float: left;
}

.product-buy-button {
  display: block;
  float: right;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  color: #4d4d4d;
  font-weight: bold;
  background-color: #eaeaea;
}

.product-buy-button:hover {
  background-color: #cccccc;
}

.product-buy-button:active {
  background-color: darkgrey;
}

.product-full-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.product-short-description:first-letter,
.product-full-description:first-letter {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: red;
}

.product-features {
  border-collapse: collapse;
}

.product-feature td {
  color: #4d4d4d;
  font-size: 14px;
  font-style: italic;
  color: #4d4d4d;
}

.col-1{
  font-weight: bold;
}

.contacts-form input[type='text'],
.contacts-form textarea {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.contacts-form input[type='text'] {
  width: 300px;
  height: 25px;
  margin-bottom: 5px;
}

.contacts-form textarea {
  width: 300px;
  height: 120px;
}

.contacts-form form input {
    text-transform: capitalize;
}

input[name='email']:focus {
    background-color: #eaeaea;
}

.footer {
    height: 100px;
    text-align: right;
    padding: 10px 10px 0 0;
    box-sizing: border-box;
    clear: both;
}

